@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Dot Grid Background */
.bg-dot-grid {
  background-color: #f9fafb;
  background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
  background-size: 30px 30px;
}

.dark .bg-dot-grid {
  background-color: #050505;
  background-image: radial-gradient(#333 1px, transparent 1px);
}

/* Lenis Recommended Styles */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* Tetris Background Styling */
#tetris-container canvas {
  position: absolute;
  top: 0;
  left: 0;
}